<app-navigation></app-navigation>

<div id="generic_price_table">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--PRICE HEADING START-->
          <div class="price-heading clearfix">
            <h1>Ceník</h1>
          </div>
          <!--//PRICE HEADING END-->
        </div>
      </div>
    </div>
    <div class="container">

      <!--BLOCK ROW START-->
      <div class="row">
        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>základ</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">69 </span>
                                    <span class="currency">Kč</span>
                                    <span class="month">/měsíc</span>
                                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>1</span> Vozidlo</li>
                <li><span>1</span> Měsíc aktivní inzerát</li>
                <li>Chat</li>
                <li>Zákaznická podpora</li>
              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">pokračovat</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>

        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content active clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Bez Rizika</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">129 </span>
                                    <span class="currency">Kč</span>
                                    <span class="month">/měsíc</span>
                                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>1 </span> Vozidlo</li>
                <li><span>1</span> Měsíc aktivní inzerát</li>
                <li>Chat</li>
                <li><span>Prioritní</span> zákaznická podpora</li>
                <li>Právní podpora při prodeji</li>
              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Pokračovat</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>
        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Profesionál</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">189 </span>
                                    <span class="currency">Kč</span>
                                    <span class="month">/měsíc</span>
                                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>3 </span> Vozidla</li>
                <li><span>1</span> Měsíc aktivní inzerát na každé vozidlo</li>
                <li>Chat</li>
                <li><span>Prioritní</span> zákaznická podpora</li>
                <li>Právní podpora při prodeji</li>
              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Pokračovat</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>
      </div>
      <!--//BLOCK ROW END-->

    </div>
  </section>
</div>

<app-footer></app-footer>
